sudo: false
language: minimal

# Caching so the next build will be fast too.
cache:
  directories:
    - $HOME/.stack

before_install:
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - stack config set system-ghc --global true
  - export PATH=/opt/ghc/8.6.3/bin:$PATH

addons:
  apt:
    sources:
      - hvr-ghc
    packages:
      - ghc-8.6.3

script:
  - stack --no-terminal --skip-ghc-check test
